---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8"; 



// Our variables
$base-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$base-font-size:   .95em;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #ffffff;
$background-color: #1D1D1D;  
$brand-color:     #1d1d1d;

$clemson-purple:      #000000;
$clemson-orange:      #ffffff;
 

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);


// Width of the content area
$content-width:    950px;

$on-palm:          600px;
$on-laptop:        950px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

/* Responsive photo grid */
.travel-grid{
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* default: 2 across */
  gap: 14px;
  align-items: start;
}

/* iPad portrait width ~834px: force 3 across */
@media screen and (min-width: 800px) and (max-width: 900px){
  .travel-grid{
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

/* desktop and larger: 4 across (optional; change to 3 if you prefer) */
@media screen and (min-width: 901px){
  .travel-grid{
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }
}

/* If your include floats images left, neutralize inside the grid */
.travel-grid .wp-caption,
.travel-grid figure{
  float: none !important;
  margin: 0 !important;
  max-width: 100% !important;
}




// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "header",
	"mobile-header",
        "base",
        "layout",
        "syntax-highlighting",
	"fancy-image"
;
