<footer class="site-footer">

 <div class="wrapper">

<!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

 <div class="footer-col-wrapper"> <div class="footer-col footer-col-1"> <ul class="contact-list"> <li><strong>{{
site.title }}</strong></li>
<li>{{ site.job }}</li>
 <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li> 

</ul> </div>

 <div class="footer-col footer-col-2"> <ul class="social-media-list"><li>{{ site.dept }}</li>
	 <li>{{site.room}}</li> <li>{{site.location}}</li>

 </ul> </div>
 
 <!-- Default Statcounter code for Aaron-nielsen.github.io
 https://aaron-nielsen.github.io/ -->
 <script type="text/javascript">
 var sc_project=12156095; 
 var sc_invisible=1; 
 var sc_security="22e7df21"; 
 </script>
 <script type="text/javascript"
 src="https://www.statcounter.com/counter/counter.js"
 async></script>
 <noscript><div class="statcounter"><a title="website
 statistics" href="https://statcounter.com/"
 target="_blank"><img class="statcounter"
 src="https://c.statcounter.com/12156095/0/22e7df21/1/"
 alt="website statistics"></a></div></noscript>
 <!-- End of Statcounter Code -->


</footer>
