@font-face { 
  font-family: Jenna Sue; 
    src: url('../fonts/JennaSue-webfont.eot'); 
    src: local("Jenna Sue"), url('../fonts/JennaSue-webfont.ttf'); 
} 

/**
 * Site header
 */
.site-header {
    border-top: 0px solid #1d1d1d;
	border-bottom: 1px solid #80A6B1;
    min-height: 40px;
    background: #1d1d1d;
    // Positioning context for the mobile navigation icon
    position: relative;

}

.site-title {
    font-size: 50px;
	margin-top: 10px;
    line-height: 10px;
    letter-spacing: -1px;
    margin-bottom: 20px;
    float: left;
    font-weight: 500;
		font-family: 'Jenna Sue', arial, sans-serif;
    color: #ffffff;
    &,
    &:visited {
        color: #ffffff;
    }
    &,
    &:hover {
	text-decoration: none;
}
}

.site-header .wrapper {
	padding-top: 20px;
	position: relative;
}

.site-nav ul li a {
	color: #fffffff;
}

.site-nav ul {

	text-align: right;
	float: right;
	margin-top: 0px; 
	font-size: 85%;
	letter-spacing: 1px;
	line-height: 1em;
	font-weight: 1000;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: 'Alegreya Sans SC', sans-serif;

}

.site-nav .menu > li {
	border-bottom: 3px solid transparent;
	display: inline-block;
	height: 23px;
	line-height: normal;
	margin: 12px 0 0 20px;
	padding: 0 0 2px 0;
	position: relative;
	vertical-align: top;
}

.site-nav a {
	display: block;
        color: #ffffff;
}

